.logyo-checkbutton {
    background: @surface_container_lowest_bg_color;
    padding: 12px 18px;
    border-radius: 12px;
}
.logyo-checkbutton > box {
    margin-left: 16px;
}
.logyo-feeling .bottom-sheet,
.logyo-feeling .dialog-sheet {
    background: radial-gradient(circle at center, mix(@accent_container_color, @surface_bg_color, 0.6), mix(@accent_container_color, @surface_bg_color, 0.99));
}
.logyo-feeling .bottom-sheet .disclosure-button,
.logyo-feeling .dialog-sheet .disclosure-button {
    background: none;
}
.logyo-feeling .bottom-sheet .text-button.pill-button,
.logyo-feeling .dialog-sheet .text-button.pill-button {
    background: @accent_container_color;
    color: white;
}
.logyo-feeling .bottom-sheet .text-button.pill-button:hover,
.logyo-feeling .dialog-sheet .text-button.pill-button:hover {
    background: shade(@accent_container_color, 0.92);
}
.logyo-feeling .bottom-sheet .text-button.pill-button:active,
.logyo-feeling .dialog-sheet .text-button.pill-button:active {
    background: shade(@accent_container_color, 0.86);
}
.logyo-feeling .bottom-sheet scale trough highlight,
.logyo-feeling .dialog-sheet scale trough highlight {
    background: none;
}
.logyo-feeling .bottom-sheet scale trough slider,
.logyo-feeling .dialog-sheet scale trough slider {
    background: @surface_fg_color;
    box-shadow: 0 2px 4px 0 alpha(@scrim, 0.32);
    min-height: 36px;
    min-width: 36px;
    margin: 0;
    padding: 0;
    border-radius: 99px;
}
.logyo-feeling .bottom-sheet scale trough,
.logyo-feeling .dialog-sheet scale trough {
    background: alpha(@surface_fg_color, 0.10);
    border-radius: 99px;
}
.logyo-feeling-flat .bottom-sheet,
.logyo-feeling-flat .dialog-sheet {
    background: linear-gradient(180deg, mix(@accent_container_color, @surface_bg_color, 0.7), mix(@accent_container_color, @surface_bg_color, 0.99));
}
.logyo-feeling-flat .bottom-sheet .text-button.pill-button,
.logyo-feeling-flat .dialog-sheet .text-button.pill-button {
    background: @accent_container_color;
    color: white;
}
.logyo-feeling-flat .bottom-sheet .text-button.pill-button:hover,
.logyo-feeling-flat .dialog-sheet .text-button.pill-button:hover {
    background: shade(@accent_container_color, 0.92);
}
.logyo-feeling-flat .bottom-sheet .text-button.pill-button:active,
.logyo-feeling-flat .dialog-sheet .text-button.pill-button:active {
    background: shade(@accent_container_color, 0.86);
}

.logyo-feeling-block {
    color: @view_fg_color;
    padding: 12px 24px 24px;
    min-height: 305px;
    min-width: 263px;
    margin-right: 6px;
    box-shadow: 0 2px 4px 0 alpha(@scrim, 0.32);
}
.logyo-feeling-block button {
    background: none;
    box-shadow: 0 0 0 1px @borders;
    color: @view_fg_color;
    min-height: 48px;
    min-width: 48px;
    -gtk-icon-size: 18px;
}
.logyo-feeling-block button:hover {
    background: alpha(@error_bg_color, 0.08);
    color: @error_bg_color;
    box-shadow: 0 0 0 1px @error_bg_color;
}
.logyo-feeling-block button:active {
    background: alpha(@error_bg_color, 0.14);
    color: @error_bg_color;
    box-shadow: 0 0 0 1px @error_bg_color;
}
.logyo-feeling-block.very-unpleasant {
    background: linear-gradient(180deg, mix(#2B1A82, @surface_bg_color, 0.7) 0%, @surface_container_bg_color 40%);
    color: mix(#2B1A82, @surface_fg_color, 0.85);
}
.logyo-feeling-block.unpleasant {
    background: linear-gradient(180deg, mix(#8944ab, @surface_bg_color, 0.7) 0%, @surface_container_bg_color 40%);
    color: mix(#8944ab, @surface_fg_color, 0.85);
}
.logyo-feeling-block.slightly-unpleasant {
    background: linear-gradient(180deg, mix(#0277BA, @surface_bg_color, 0.7) 0%, @surface_container_bg_color 40%);
    color: mix(#0277BA, @surface_fg_color, 0.85);
}
.logyo-feeling-block.neutral {
    background: linear-gradient(180deg, mix(#40A0B9, @surface_bg_color, 0.7) 0%, @surface_container_bg_color 40%);
    color: mix(#40A0B9, @surface_fg_color, 0.85);
}
.logyo-feeling-block.slightly-pleasant {
    background: linear-gradient(180deg, mix(#309900, @surface_bg_color, 0.7) 0%, @surface_container_bg_color 40%);
    color: mix(#309900, @surface_fg_color, 0.85);
}
.logyo-feeling-block.pleasant {
    background: linear-gradient(180deg, mix(#A29500, @surface_bg_color, 0.7) 0%, @surface_container_bg_color 40%);
    color: mix(#A29500, @surface_fg_color, 0.85);
}
.logyo-feeling-block.very-pleasant {
    background: linear-gradient(180deg, mix(#FF7D13, @surface_bg_color, 0.7) 0%, @surface_container_bg_color 40%);
    color: mix(#FF7D13, @surface_fg_color, 0.85);
}

.slider-caption {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.day {
    box-shadow: inset 0 1px 0 0 @borders, inset 0 1px 0 0 @borders;
    padding: 12px 2px;
    min-width: 48px;
    min-height: 48px;
}
.day-logged {
    opacity: 1;
}
.day-empty {
    opacity: 0.32;
}

.logyo-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}
.logyo-subtitle {
    font-size: 14px;
    line-height: 17px;
}
.logyo-caption {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}